@font-face {
  font-family: sertig;
  src: url('assets/font/Sertig.otf');
  font-display: swap;
}

.header-pattern {
  background: url('assets/images/header.jpg');
  height: 90px;
  padding-top: 15px;
}

body {
  margin: 0;
  top: 0;
  background: rgb(239, 239, 239);
  font-size: 17px;
  min-height: 100%;
}

body,
html {
  height: 100%;
}

section {
  padding: 50px 15px;
  width: 100%;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

section h1 {
  overflow: auto;
  overflow-wrap: break-word;
}

section img {
  border-radius: 6px;
}

section ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

section ul li {
  list-style: none;
  margin-bottom: 25px;
}

section p {
  margin: 30px 0;
}

section:nth-of-type(3n + 1) {
  background-color: rgb(239, 239, 239);
}

section:nth-of-type(3n + 3) {
  background-color: #547799;
  color: white;
}

section:nth-of-type(3n + 3) a {
  color: white;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: sertig;
}
